<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Display Points</title>
    </head>
    <body>
        <h1>Resume Clubs Points :</h1>

        <table>

            <thead>
                <tr>
                    <th>Club </th>
                    <th>Points </th>
                </tr>
            </thead>

            <tbody>

                {% for club in clubs %}
                <tr>
                    {% for key in ['name', 'points'] %}
                    <td>{{ club[key] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}

            </tbody>

        </table>

    </body>
</html>